body{
  font-family:sans-serif;
  background-color:#cccccc;
}

#main-wrapper {
  width : 400px;
  height : 400px;
  background-color:red;
  position:relative;
  margin:auto;
  margin-top:5%;
  border:10px solid black;
  border-radius: 5%;
  box-shadow: 0 1px 8px 10px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.row {
  width:100%;
  height:50%;
  position:absolute;
}

.row:nth-child(1) {/*green and red buttons*/
  top:0;
}

.row:nth-child(2) {/*yellow and blue buttons*/
  bottom:0;
}

.button {
  width: 50%;
  height:100%;
  position:absolute;
  cursor:pointer;
  pointer-events:none;
}

.button:nth-child(2) {
  right:0;
}

.button:nth-child(1) {
  left:0;
}

#btn1 {
  background-color:#1b5e20;
}
.btn1:active{
  background-color:#00e676 !important;
}

#btn2{
  background-color:#b71c1c;
}
.btn2:active{
  background-color:#ff1744 !important;
}

#btn3{
  background-color:#f9a825;
}
.btn3:active{
  background-color:#ffeb3b !important;
}

#btn4{
  background-color:#0d47a1;
}
.btn4:active {
  background-color:#448aff !important;
}

#switch-wrapper {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #333333;
  width:50%;
  height:50%;
  text-align:center;
  top: 25%;
  left: 25%;
  position:absolute;
  border-radius: 10%;
  color:#fff;
}

.s-row {
  text-align:center;
  margin:auto;
  width:100%;
  height: 33.33%;
  position:absolute;
  font-weight:bold;
}

.s-row:nth-child(1){ /*Counter*/
  top:0;
}

.s-row:nth-child(2){ /*start and strict buttons*/
  top:33%;
}

.s-row:nth-child(3){ /*power switch*/
  bottom:0;
}

.s-row:nth-child(3) span:nth-child(1){ /*OFF*/
  position:relative;
  top:12.5%;
}

.s-row:nth-child(3) span:nth-child(3){/*ON*/
  position:relative;
  top:12.5%;
}

#counter-wrapper{
  background-color:#fff;
  color:white;
  height: 40%;
  width:50%;
  font-size:1.5em;
  border:5px solid #000;
  text-align:center;
  position:absolute;
  top:33%;
  left:23%;
  color:red;
}

#counter{
  line-height:120%;
  margin:auto;
}
